@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
  font-family:
    "Commit Mono",
    "HarmonyOS Sans SC",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:lang(Hans),
:lang(zh),
:lang(CHS),
:lang(zh-CN),
:lang(zh-SG),
:lang(Jpan),
:lang(ja) {
  font-family:
    "Commit Mono",
    "HarmonyOS Sans SC",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  --td-font-family:
    "Commit Mono", "HarmonyOS Sans SC", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --td-font-family-medium: "CommitMono", "HarmonyOS Sans SC", -apple-system, Microsoft YaHei, Arial Medium;
}

@media (min-width: 640px) {
  #app {
    width: 1310px;
  }
}

@media (min-width: 1280px) {
  #app {
    width: 100%;
  }
}

.t-table td.table_lv1_col {
  background-color: #11721e49;
}

.t-table td.table_lv2_col {
  background-color: #7a510f49;
}

.t-table td.table_lv3_col {
  background-color: #8a171749;
}
