@import "./fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
  font-family: "Commit Mono", "HarmonyOS Sans SC", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --td-font-family: "Commit Mono", "HarmonyOS Sans SC", sans-serif;
  --td-font-family-medium: "Commit Mono", "HarmonyOS Sans SC";
}

@media (min-width: 640px) {
  #app {
    width: 1310px;
  }
}

@media (min-width: 1280px) {
  #app {
    width: 100%;
  }
}

.t-table td.table_lv1_col {
  background-color: #11721e49;
}

.t-table td.table_lv2_col {
  background-color: #7a510f49;
}

.t-table td.table_lv3_col {
  background-color: #8a171749;
}
